*.swp
*.o
*.old
*.orig
*.so
*~
ChangeLog
CMakeCache.txt
CMakeFiles/
cmake_*install.cmake
CPack*Config.cmake
_CPack_Packages/
CTestTestfile.cmake
Testing/
install_manifest.txt
Makefile
Modules
*.freq
*.gmo
*.la
*.lo
*.loT
*NO_PACK*
*.pot
SPECS/RPM-ChangeLog
SPECS/*.spec
RPMS/
SRPMS/
BUILD/
BUILDROOT/
SOURCES/
tags
debug*s.list
FedPkg
*.db
*.utf8
*.tmp
tables/array/*.head
tables/array/array30.txt
tables/array/array30-big.txt
