*.swp
*.o
*.old
*.orig
*.so
*~
ChangeLog
CMakeCache.txt
CMakeFiles/
cmake_*install.cmake
CPack*Config.cmake
_CPack_Packages/
CTestTestfile.cmake
Testing/
install_manifest.txt
Makefile
*.gmo
*.la
*.lo
*.loT
*NO_PACK*
*.pot
SPECS/RPM-ChangeLog
SPECS/*.spec
RPMS/
SRPMS/
BUILD/
SOURCES/
tags
debug*s.list
FedPkg
tables/*.db
tables/*.utf8
tables/array30.txt
tables/array30-big.txt

