*.db
*.freq
*.gmo
*.la
*.lo
*.loT
*.o
*.old
*.orig
*.pot
*.so
*.swp
*.tab
*.tmp
*.utf8
*NO_PACK*
*~
BUILD/
BUILDROOT/
CMakeCache.txt
CMakeFiles/
CPack*Config.cmake
CTestTestfile.cmake
FedPkg/
Makefile
Modules
RPMS/
SOURCES/
SPECS/*.spec
SPECS/RPM-ChangeLog
SRPMS/
Testing/
_CPack_Packages/
array30-big.txt
array30.txt
cmake_*install.cmake
debug*s.list
install_manifest.txt
wubi-haifeng86.txt

